        <div class="row  row-cols-5 row-cols-md-5 g-4">
<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=photos2_page_path%>">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="<%=albums1_page_path%>">Albums</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<%=render partial: "images/imagealbum", collection: Page.first.mesphotosdesalbums, as: :image%>

                
             
        </div>
